@{
    int UserId = (int)Context.Session.GetInt32("uuid");
}
<div class="d-flex justify-content-between">
    <h1>Welcome! </h1>

    <p> <a href="/dashboard">Home</a> | 
    <a href="/coupon/new">Add Coupon</a> | 
    <a href="/user/@UserId">AccountInfo</a> |
    <a asp-action="UserLogout" asp-controller="User" class="btn btn-danger">LogOut</a></p>
</div>