@{
    ViewData["Title"] = "Home Page";
}
@model MyViewModel

<div class="text-center">
    <h1>Products | <a href="/Category">Categories</a></h1>
</div>
<div class="d-flex justify-content-between">
    <div>
        <h3>New Product!</h3>
        @await Html.PartialAsync("_NewProduct", Model.Product)
    </div>
    <div>
        <h3>All Products</h3>
        @foreach (Product p in Model.AllProducts)
        {
            <div>
                <a asp-action="ProductShowOne" asp-controller="Home" asp-route-id = "@p.ProductId">@p.Name</a>
            </div>
        }
    </div>
</div>
