html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.dashboard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  background-color: black;
  height: 5px;
  margin-top: 10px;
}