@{
    ViewData["Title"] = "Home Page";
}
@model Pet

<h1>Hello Add a Pet to our Project!</h1>

<form asp-controller="Home" asp-action="AddPet" method="post">
    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" id="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Type"></label>
        <input class="form-control" asp-for="Type" id="Type"/>
    </div>
    <div class="mb-3">
        <label asp-for="Age"></label>
        <input class="form-control" asp-for="Age" id="Age"/>
    </div>
    <div class="mb-3">
        <label asp-for="HairColor">Hair Color</label>
        <input class="form-control" asp-for="HairColor" id="HairColor"/>
    </div>
    <div class="mb-3">
        <button class="btn btn-success">Add Pet</button>
    </div>
</form>
